{
  "env": {
    "es2021": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": [
      "warn",
      "unix"
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "complexity": [
      "error",
      3
    ],
    "max-depth": [
      "error",
      3
    ],
    "max-lines": [
      "error",
      100
    ],
    "max-len": [
      "error",
      140
    ],
    "max-statements": [
      "error",
      20
    ],
    "max-statements-per-line": [
      "error",
      {
        "max": 1
      }
    ],
    "max-params": [
      "error",
      4
    ],
    "no-mixed-spaces-and-tabs": "error",
    "no-underscore-dangle": "off",
    "no-new": "off",
    "import/first": "off"
  },
  "plugins": [
    "jest",
    "import"
  ],
  "settings": {
    "jest": {
      "version": 27
    }
  }
}
