name: Deploy to AWS
on:
  push:
    branches:
    - main

concurrency:
  group: deploy

jobs:
  deploy-prd:
    name: Deploy to AWS
    runs-on: ubuntu-latest
    env:
      REACT_APP_CLIENT_ID: ${{ secrets.REACT_APP_CLIENT_ID }}
      REACT_APP_USERPOOL_ID: ${{ secrets.REACT_APP_CLIENT_SECRET }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}

      - name: Set env
        run: |
          echo "REACT_APP_CLIENT_ID=$(aws cloudformation describe-stacks --stack-name ServerlessKanbanBackendStack --query "Stacks[0].Outputs[?OutputKey=='userPoolId'].OutputValue" --output text)" >> $GITHUB_ENV
          echo "REACT_APP_USERPOOL_ID=$(aws cloudformation describe-stacks --stack-name ServerlessKanbanBackendStack --query "Stacks[0].Outputs[?OutputKey=='userPoolClientId'].OutputValue" --output text)" >> $GITHUB_ENV

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install both projects
        run: |
          npm ci
          cd app && npm ci

      - name: Build, lint & test
        run: |
          npm run build
          npm run lint
          npm run test

      - name: CDK Synth & Deploy
        run: |
          make deploy
